:root{
  --navy1: #062a59;
  --navy2: #0b3b7a;
  --bone:  #f3efe6;
  --text:  #0b2f5c;
  --muted: #6f8096;
  --line:  rgba(11,47,92,0.18);
}

*{ box-sizing: border-box; }

body{
  margin: 0;
  font-family: Arial, sans-serif;
}

/* MISMO FONDO QUE TU LOGIN */
.page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: radial-gradient(circle at 50% 40%, var(--navy2), var(--navy1));
  position: relative;
}

/* Contenedor */
.content{
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin-top: 140px;
}

/* Bienvenidos */
.welcome{
  margin: 0 0 45px 0;
  color: var(--bone);
  font-size: 90px;
  font-weight: 700;
  text-shadow: 0 6px 0 rgba(0,0,0,0.20);
}

/* BOTON GENERAR TURNO */
.btn{
  width: 420px;
  max-width: 90vw;
  height: 70px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  padding: 14px 30px;

  font-size: 36px;
  font-weight: 700;
  color: white;

  background: linear-gradient(#2ecc71,#27ae60);
  box-shadow: 0 22px 22px rgba(0,0,0,0.25);
  text-decoration: none;
}

.btn:active{
  transform: translateY(1px);
}

/* BOTON REGRESAR */
.btn-back{
  position: absolute;
  bottom: 25px;
  left: 25px;

  padding: 12px 26px;
  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 700;
  color: white;

  background: #e74c3c;
  cursor: pointer;

  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  text-decoration: none;
}

.btn-back:hover{
  background: #c0392b;
}